# DirectAdmin control panel
# To reload systemd daemon after changes to this file:
# systemctl --system daemon-reload
[Unit]
Description=DirectAdmin Web Control Panel
After=syslog.target network-online.target
Documentation=https://docs.directadmin.com
Wants=network-online.target

[Service]
Type=notify
ExecStart=/home/runner/work/Admini/Admini/backend/directadmin server --syslog
ExecReload=/bin/kill -HUP $MAINPID
WorkingDirectory=/home/runner/work/Admini/Admini/backend
LimitNOFILE=524288
Restart=always
StartLimitInterval=0
RestartSec=15
KillMode=process
RuntimeDirectory=directadmin

[Install]
WantedBy=multi-user.target
